# Byte-compiled / optimized / dll files
__pycache__/
*.pyc
*.pyd
*.pyo
*.so

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.localized
Thumbs.db
ehthumbs.db
*.stackdump
*.log

# Python test database
test.db